/* Márka stílus */
.navbar-brand {
  color: rgb(148, 70, 236);
  font-weight: 700;
}

.navbar-brand:hover {
  color: rgb(126, 30, 182);
}

.navbar-brand img {
  margin-right: 0.5rem;
}

/* Nav linkek a dropdownon belül */
.navbar-query-title {
  color: orange;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid orange;
  border-radius: 4px;
  cursor: pointer; /* kattinthatónak látszik */
}

.navbar-query {
  margin-right: 0.5rem;
}

.navbar-query .nav-link {
  color: orange;
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar-query .nav-link:hover{
  color: rgb(255, 136, 0) !important;
}

/* Dropdown logika */
.dropdown {
  position: relative; /* a menü pozicionálásához */
}

.dropdown-menu {
  display: none;       /* alapból rejtve */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  min-width: 150px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .nav-link {
  color: black !important;
  padding: 0.5rem 1rem;
}