html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent unwanted horizontal scroll */
}

.svgContainer {
  width: 98%;
  padding: 0;
  margin: 30px 10px 50px 10px;
}

.svgFullWidth {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}
