html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent unwanted horizontal scroll */
}

.pageContainer {
  display: block;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.pageContainer img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
